@import "./variables.less";
@import "./mixins.less";

html, body {
    #reset();
    font-family: 'Roboto', sans-serif;
}

.desktop-menu {
    display: none;
}

header {
    height: 60px;
    background-color: @yellow;
}

/**************************************** HAMBURGER MENU STYLES*****************************************/
.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0 15px;
    color: @black-text-color;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}
  
.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 7px 15px 0 15px;
    color: @black-text-color;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}
  
.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: @yellow;
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-family: @font-family;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }

    li {
        display: block;
        padding: 15px 0 15px 0;
        border-bottom: @black-text-color 1px solid;
    }
    
    li:hover {
        display: block;
        background: @white;
        padding: 15px 0 15px 0;
        border-bottom: @black-text-color 1px solid;
    }
    
    ul li a {
        text-decoration: none;
        margin: 0;
        color: @black-text-color;
    }

    ul li a:hover {
        color: @red;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: @black-text-color;
    }

    a:hover {
        text-decoration: none;
        color: @red;
    }    
}

/**************************************** HAMBURGER MENU STYLES *****************************************/

.top-section {
    .hero-img();
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        width: 50%;
        max-width: 449px;
        padding-bottom: 10px;
    }
    button {
        .button();
    }
}

.middle-section {
    .mobile-middle-section ();
    div {
        padding: 60px 0;
        h2 {
            .heading();
            span {
                .span-red();
            }
        }
        p {
            .paragraph();
        }  
    }

    img {
        max-width: 232px;
        width: 50%;
        padding-bottom: 60px;
    }
    padding: 0 15px;
    button {
        .button();
    }
}

.bottom-section {
    background-color: @light-gray;
    .mobile-bottom-section ();
    div {
        padding: 60px 0;
        h2 {
            .heading();
            span:first-of-type {
                text-transform: lowercase;
            }
            span:last-of-type {
                .span-red();
            }
        }
        p {
            .paragraph();
        } 
    }

    img {
        max-width: 176px;
        width: 50%;
        padding-bottom: 60px;
    }
    padding: 0 15px;
    button {
        .button();
    }
}

footer {
    div:first-of-type {
        background-color: @yellow;
        height: 8px;
        width: 100%;
    }

    div:last-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @black;
        height: 130px;
    }

    img {
        max-width: 449px;
        width: 45%;
    }
}


/************************************* START 576PX MEDIA QUERY *************************************/
@media (min-width: 576px) {
    .hamburger, .cross {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        height: 80px;
        padding-left: 20px;

        .desktop-menu {
            display: block;
            align-items: center;
    
            ul {
                margin-bottom: 0;
                padding-left: 0;
    
                li {
                    display: inline;
                    
                    a {
                        text-decoration: none;
                        padding-right: 15px;
                        color: @black-text-color;
                        font-size: 18px;
                    }
    
                    .order-now-nav {
                        .emphasized-text();
                    }    
                }
            }
        }
    }

    .middle-section,
    .bottom-section {
        padding: 0 20px;
    }
    
}
/************************************* END 576PX MEDIA QUERY *************************************/
/************************************* START 768PX MEDIA QUERY *************************************/
@media (min-width: 768px) {
    .bottom-section,
    .middle-section {
        .desktop-section();
        padding: 60px 40px;
        img {
            padding: 0 20px;
        }
        div {
            padding: 0 20px;
        }
    }

    header {
        padding-left: 60px;
    }
}
/************************************* END 768PX MEDIA QUERY *************************************/
/************************************* START 992PX MEDIA QUERY *************************************/
@media (min-width: 992px) {
    header {
        height: 120px;
        padding-left: 120px;

        .desktop-menu ul li a {
            padding-right: 40px;
        }
    }

    .middle-section {
        padding: 60px 100px;
        div {
            padding-right: 60px;
        }
    }

    .bottom-section {
        padding: 60px 100px;
        div {
            padding-left: 60px;
        }
    }
    
}
/************************************* END 992PX MEDIA QUERY *************************************/