// spacing reset
#reset {
    padding: 0;
    margin: 0;
  }

// .hero-img {
//     background-image: url("./img/banner-bg.png");
//     // background-position: center; /* Center the image */
//     // background-repeat: no-repeat; /* Do not repeat the image */
//     background-size: cover; /* Resize the background image to cover the entire container */
// }

.hero-img {
    background-image: 
      linear-gradient(
        rgba(59, 56, 56, 0.33), 
        rgba(59, 56, 56, 0.33)
      ),
      url("./img/banner-bg.png");
      background-size: cover;
  }

.emphasized-text {
    text-transform: uppercase;
    color: @red;
}