// spacing reset
#reset {
    padding: 0;
    margin: 0;
  }

.hero-img {
    background-image: 
      linear-gradient(
        rgba(59, 56, 56, 0.33), 
        rgba(59, 56, 56, 0.33)
      ),
      url("./img/banner-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.emphasized-text {
    text-transform: uppercase;
    color: @red;
}

.mobile-middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-bottom-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.desktop-middle-section {
    display: flex;
    flex-direction: row;
}